/* CSS utilitário */

/* Estrutura */
.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Botões do site */
.btn {
  font: 600 1.125rem/1.5 "Poppins", sans-serif;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--p5);
}
.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn-link {
  font: 600 1.125rem/1.5 "Poppins", sans-serif;
  display: inline-block;
  /* text-decoration: underline; */
  text-transform: uppercase;
  color: var(--p1);
  background: linear-gradient(to bottom, var(--p1) 0%, var(--p1) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size 0.2s;
}
.btn-link:hover {
  background-size: 4px 50px;
  color: var(--c0);
}
